@font-face {
    font-family: "Gilroy-Bold"; 
    src: url("../font/Gilroy-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

@font-face {
    font-family: "Gilroy-Medium"; 
    src: url("../font/Gilroy-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 